.contenedor {
	display: flex;
	flex-flow: column;
	height: 100%;
}

mat-sidenav-container{
	flex: 1 1 auto;
}


.padding{
	padding: 10px;
	overflow-x: hidden;
	height: 100%;
	background: #eee;
	color: black;
}